body {
    margin: auto;
    max-width: 45em;
    font-family: 'Arial';
}
nav li{
    display: inline-block;
    background: lightsteelblue;
    border-radius: .5em;
    margin: .2em;
}
.header {
    background: lightcoral;
    color: white;
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
    border-radius: .5em;
    margin-top: .2em;
    margin: auto;
    max-width: 45em;
}
.header li{
    display: inline-block;
    color: white;
    font-size: .7em
}