body {
    margin: auto;
    max-width: 45em;
    font-family: 'Arial';
}
nav li{
    display: inline-block;
    background: lightsteelblue;
    border-radius: .5em;
    margin: .2em;
}
.header {
    background: lightsteelblue;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    border-radius: .5em;
    margin-top: .5em;
}
