{% extends "layout.html" %}
{% block title %}Lisää elokuva{% endblock %}
{% block content %}
<hr>
<h2>Lisää uusi elokuva:</h2>
<form action="/add_movie" method="POST">
<p>Elokuvan nimi:<br>
<textarea name="name" rows="1" cols="40"></textarea>
<p>Elokuvan julkaisuvuosi:<br>
<textarea name="year" rows="1" cols="4"></textarea>
<p>Elokuvan genret:<br>
<textarea name="genre" rows="1" cols="40"></textarea>
<p>Elokuvan kuvaus:<br>
<textarea name="description" rows="3" cols="50"></textarea>
<p>Elokuvan pääroolit:<br>
<textarea name="leading_roles" rows="2" cols="50"></textarea>
<p>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input type="submit" value="Julkaise">
</form>
{% endblock %}

