<h1>Elokuva-arvostelut</h1>
<p>
<a href="/">Etusivulle</a>
<p>
<a href="/logout"> Kirjaudu ulos</a>
<hr>
<p>
<a href= "/categories">Takaisin kategorioihin</a>
<p>
{% if session.user_role == True %}
<hr>
<p>
<form action="/delete_category" method="POST">
<input type="hidden" name="category_id" value={{ id }}>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input type="submit" value="Poista kategoria">
</form>
<p>
<form action="/movie_to_category" method="POST">
<input type="hidden" name="category_id" value={{ id }}>
Elokuvan nimi:  
<textarea name="movie_name" rows="1" cols="40"></textarea>
<p>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input type="submit" value="Lisää elokuva kategoriaan {{ category_name }}">
{% endif %}
<hr>
<h2>Elokuvat kategoriassa {{ category_name }}:</h2>
<hr>
{% for movie in movies %}
<h3><a href="/movie_page/{{ movie[2] }}">{{ movie[0] }}</a></h3>
Julkaistu: {{ movie[1] }}
{% if session.user_role == True %}
<form action="/delete_movie" method="POST">
<p>
<input type="hidden" name="movie_id" value={{movie[2]}}>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input type="submit" value="Poista elokuva">
</form>
<form action="/delete_movie_from_category" method="POST">
<input type="hidden" name="category_id" value={{id}}>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input type="hidden" name="movie_id" value={{movie[2]}}>
<input type="submit" value="Poista kategoriasta">
</form>
{% endif %}
<hr>
{% endfor %}

