<h1>Elokuva-arvostelut</h1>
<p>
<a href="/">Etusivulle</a>
<p>
<a href="/logout"> Kirjaudu ulos</a>
<hr>
{% if session.user_role == True %}
<h3>Lisää uusi kategoria:</h3>
<p>
<form action="/add_category" method="POST">
Nimi:
<textarea name="category_name" rows="1" cols="30"></textarea>
<p>
<input type="submit" value="Lisää katogorioihin">
</form>
<hr>
{% endif %}
<h2>Kategoriat:</h2>
<p>
<hr>
{% for category in categories %}
<h3><a href="/category_page/{{ category[0] }}">{{ category[1] }}</a>
</h3>
<hr>
{% endfor %}
