{% extends "layout.html" %}
{% block title %}Kategoriat{% endblock %}
{% block content %}
<hr>
{% if session.user_role == True %}
<h3>Lisää uusi kategoria:</h3>
<p>
<form action="/add_category" method="POST" onsubmit="return check(this)">
Nimi:
<input type="text" name="category_name" size="30">
<p>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input type="submit" value="Lisää katogorioihin">
</form>
<script>
function check(form) {
    if (form.category_name.value.length < 1) {
        alert("Kategorian nimen tulee olla vähintään 2 merkkiä pitkä.");
        return false;
    }
    if (form.category_name.value.length >= 50) {
        alert("Kategorian nimen tulee olla enintään 50 merkkiä pitkä.");
        return false;
    }
    return true;
}
</script>
<hr>
{% endif %}
<h2>Kategoriat:</h2>
<p>
<hr>
<p>
{% for category in categories %}
<div class="category">
    <a href="/category_page/{{ category[0] }}">{{ category[1] }}</a>
</div>
<p>
{% endfor %}
{% endblock %}