{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<hr>
<nav>
    <ul>
        {% if session.username %} 
        <li><a href="/my_reviews">Omat arvostelut</a></li>
        <li><a href="/categories">Kategoriat</a></li>
        {% if session.user_role == False %}        
        <li><a href="/suggest_movies">Ehdota elokuvia</a></li>
        {% endif %}
        {% if session.user_role == True %}
        <li><a href="/add_movie">Lisää elokuva</a></li>
        <li><a href="/suggestions">Katso ehdotukset</a></li>
        <li><a href="/admins">Ylläpitäjät</a></li>
        {% endif %}
    <ul>
</nav>
<hr>
<form action="/search_results" method="GET">
Haku:
<input type="text" name="query">
<input type="submit" value="Hae">
</form>
<hr>
<form action="/" method="POST">
Lajittele:
<button type="submit" name="sort" value="newest" class="btn">uusin ensin</button>
<button type="submit" name="sort" value="oldest" class="btn">vanhin ensin</button>
<button type="submit" name="sort" value="best" class="btn">parhaiten arvioitu ensin</button>
<button type="submit" name="sort" value="worst" class="btn">huonoiten arvioitu ensin</button>
<button type="submit" name="sort" value="latest" class="btn">viimeisimmäksi lisätyin ensin</button>
</form>
<hr>
<h2>Elokuvat:</h2>
<p>
<hr>
{% for movie in movies %}
<div class="listing">
    <h3><a href="/movie_page/{{ movie[0] }}"> {{ movie[1] }} </a></h3>
    julkaistu: {{ movie[2] }}
    {% if session.user_role == True %}
    <form action="/delete_movie" method="POST">
    <p>
    <input type="hidden" name="movie_id" value={{movie[0]}}>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <input type="submit" value="Poista">
    </form>
    {% endif %}
</div>
<p>
{% endfor %}
{% else %}
<h2>Kirjaudu sisään:</h2>
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<p>
<input type="submit" value="Kirjaudu sisään">
<p>
</form>
Ei vielä tunnuksia?
<a href="/register">Luo uusi tunnus</a>
{% endif %}
{% endblock %}


