{% if session.username %}
<h1>Elokuva-arvostelut</h1>
<p>
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<hr>
<a href="/my_reviews">Omat arvostelut</a>
<a href="/categories">Kategoriat</a>
{% if session.user_role == False %}        
<a href="/suggest_movies">Ehdota elokuvia</a>
{% endif %}
{% if session.user_role == True %}
<a href="/add_movie">Lisää elokuva</a>
<a href="/suggestions">Katso ehdotukset</a>
{% endif %}
<hr>
<form action="/search_results" method="GET">
Haku:
<input type="text" name="query">
<input type="submit" value="Hae">
</form>
<hr>
<h2>Elokuvat:</h2>
<p>
<hr>
{% for movie in movies %}
<h3><a href="/movie_page/{{ movie[0] }}"> {{ movie[1] }} </a></h3>
julkaistu: {{ movie[2] }}
{% if session.user_role == True %}
<form action="/delete_movie" method="POST">
<p>
<input type="hidden" name="movie_id" value={{movie[0]}}>
<input type="submit" value="Poista">
</form>
{% endif %}
<hr>
{% endfor %}
{% else %}
<h1>Elokuva-arvostelut</h1>
<p>
<p>
<hr>
<h2>Kirjaudu sisään:</h2>
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<p>
<input type="submit" value="Kirjaudu sisään">
<p>
</form>
Ei vielä tunnuksia?
<a href="/make_account">Luo uusi tunnus</a>
{% endif %}



