{% extends "layout.html" %}
{% block title %}Elokuva_sivu{% endblock %}
{% block content %}
<hr>
<h2>Elokuvan tiedot:</h2>
<p>
{% for info in information %}
<h3>Nimi:</h3>
{{ info[0] }}
<h3>Julkaistu:</h3>
{{ info[1] }}
<h3>Genret:</h3>
{{ info[2] }}
<h3>Päärooleissa:</h3>
{{ info[4] }}
<h3>Kuvaus:</h3>
{{ info[3] }}
<p>
<hr>
<h2>Arvostelut:</h2>
<p>
<p>Arvostelujen määrä:  {{ amount_of_reviews }}<br>
<p>Keskimääräinen arvosana: {{ average }}<br>
<hr>
<h3>Luo arvostelu:</h3>
<form action="/movie_page/{{id}}" method="POST">
{% endfor %}
<p>Arvosana:<br>
<input type="radio" name="grade" value="0"> 0
<input type="radio" name="grade" value="1"> 1
<input type="radio" name="grade" value="2"> 2
<input type="radio" name="grade" value="3"> 3
<input type="radio" name="grade" value="4"> 4
<input type="radio" name="grade" value="5"> 5
<input type="radio" name="grade" value="6"> 6
<input type="radio" name="grade" value="7"> 7
<input type="radio" name="grade" value="8"> 8
<input type="radio" name="grade" value="9"> 9
<input type="radio" name="grade" value="10"> 10
<input type="radio" name="grade" value="-1" style="display:none" checked>
<p>
Arvio:<br>
<textarea name="review" rows="3" cols="50"></textarea>
<input type="hidden" name="movie_id" value={{ id }}>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<p>
<input type="submit" value="Julkaise">
</form>
<hr>
{% for review in reviews %}
<h4>Käyttäjä {{ review[0] }}  antoi elokuvalle arvosanaksi: {{ review [2] }}<br>
Arvio:
</h4>
{{ review[1] }}
<p>
{{ review[3] }}
<p>
{% if session.user_role == True %}
<form action="/delete_review_admin" method="POST">
<input type="hidden" name="review_id" value={{review[4]}}>
<input type="hidden" name="movie_id" value={{id}}>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input type="submit" value="Poista">
</form>
{% endif %}
{% if session.user_role == False and review[5] == session.user_id %}
<form action="/delete_review" method="POST">
<input type="hidden" name= "review_id" value={{review[4]}}>
<input type="hidden" name= "movie_id" value={{id}}>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input type= "submit" value="Poista">
</form>
{% endif %}
<hr>
{% endfor %}
{% endblock %}
