<h1>Elokuva-arvostelut</h1>
<p>
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p>
<a href="/">Etusivulle</a><br>
<a href="/logout">Kirjaudu ulos</a>
<hr>
<h2>Omat arvosteluni:</h2>
<p>Arvosteluiden määrä: {{ number_of_reviews }}<br>
<hr>
{% for review in mine %}
<h4>Elokuvalle {{ review[0] }} antamasi arvosana:   {{ review [2] }}<br>
Arvio:
</h4>
{{ review[1] }}
<p>
{{ review[3] }}
<p>
<form action="/delete_my_review" method="POST">
<input type="hidden" name="review_id" value={{review[4]}}>
<input type="submit" value="poista">
</form>
<hr>
{% endfor %}

