{% extends "layout.html" %}
{% block title %}Ehdotukset{% endblock %}
{% block content %}
<hr>
<h2>Ehdotukset:</h2>
<p>Ehdotusten määrä: {{ number_of_suggestions }}<br>
<hr>
{% for suggestion in suggestions %}
Ehdotus käyttäjältä {{ suggestion[5] }}:
<h4>{{ suggestion[0] }}</h4>
<p>Julkaisuvuosi: {{ suggestion[1] }}<br>
<p>Genret: {{ suggestion[2] }}<br>
<p>Pääroolit: {{ suggestion[4] }}<br>
<p>Kuvaus: {{ suggestion[3] }}<br>
<p>{{ suggestion[6] }}<br>
<form action="/accept" method="POST">
<input type="hidden" name="id" value={{ suggestion[7] }}>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input type="submit" value="Hyväksy">
</form>
<form action="/decline" method="POST">
<input type="hidden" name="id" value={{ suggestion[7] }}>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input type="submit" value="Hylkää">
</form>
<hr>
{% endfor %}
{% endblock %}
