{% if session.username %}
<h1>Elokuva-arvostelut</h1>
<p>
<hr>
<p>Olet kirjautunut sisään nimellä {{ session.username }}</p>
<a href="/main">Siirry lukemaan ja tekemään arvosteluja</a>
<p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<h1>Elokuva-arvostelut</h1>
<p>
<hr>
<h2>Kirjaudu sisään:</h2>
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<p>
<input type="submit" value="Kirjaudu sisään">
</form>
{% endif %}

